bin/
obj/
.vscode/
*.user
*.suo
*.cache
*.pid
*.log
*.csproj.user
**/bin/
**/obj/
/.idea/
/.DS_Store
/tools/**/bin/
/tools/**/obj/
/worker-phase*.log
/worker-phase*.pid
/worker-rabbit-test.log
/worker-rabbit-test.pid
/worker.log
